<template>
<v-app>
<section class="primary darken-1">
    <v-container class="pb-1">
    <v-layout row>
      <v-flex>
        <v-btn flat dark small>
          Type
          <v-icon right dark>keyboard_arrow_down</v-icon>
        </v-btn>
        <v-btn flat dark small>
          Year
          <v-icon right dark>keyboard_arrow_down</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>
    <v-layout row>
      <v-flex xs6>
        <v-autocomplete
                :loading="loading"
                :items="districts"
                :search-input.sync="search"
                v-model="selected"
                cache-items
                class="mr-3"
                flat
                label="Choose districts..."
                solo
                multiple
                return-object
                item-text="properties.NAME"
                item-value="properties.FID_12"
                >
              <template slot="no-data">
                <v-list-tile>
                  <v-list-tile-title>
                    Still loading <strong>districts</strong>...
                  </v-list-tile-title>
                </v-list-tile>
              </template>
              <template slot="selection" slot-scope="{ item, index }">
                <v-chip v-if="index === 0">
                  <span>{{ item.properties.NAME }}</span>
                </v-chip>
                <span v-if="index === 1" class="grey--text caption">(+{{ selected.length - 1 }} others)</span>
              </template>
                <v-list-tile
                  slot="prepend-item"
                  ripple
                  @click.native="toggle"
                >
                  <v-list-tile-action>
                    <v-icon :color="selected.length > 0 ? 'indigo darken-4' : ''">
                      {{ icon }}
                    </v-icon>
                  </v-list-tile-action>
                  <v-list-tile-title>
                    Select all districts
                  </v-list-tile-title>
                </v-list-tile>
                <v-divider slot="append-item" class="mb-2" />
                <v-list-tile slot="append-item" disabled>
                  <v-list-tile-avatar color="grey lighten-3">
                    <v-icon>mdi-food-apple</v-icon>
                  </v-list-tile-avatar>
                  <v-list-tile-content v-if="allDistricts">
                    <v-list-tile-title>All {{ selected.length }} districts loaded</v-list-tile-title>
                  </v-list-tile-content>
                  <v-list-tile-content v-else-if="someDistricts">
                    <v-list-tile-title>Districts selected:</v-list-tile-title>
                    <v-list-tile-sub-title>{{ selected.length }}</v-list-tile-sub-title>
                  </v-list-tile-content>
                  <v-list-tile-content v-else>
                    Please select your districts above
                  </v-list-tile-content>
                </v-list-tile>
            </v-autocomplete>
            </v-flex>
            <v-flex xs3>
              <v-select :items="years" solo flat :menu-props="offsetY" />
            </v-flex>
    </v-layout>
    </v-container>
  </section>

  <section class="light-blue lighten-5">
  <v-container>
        <v-layout row wrap>
          <v-flex xs12>
            <v-card raised style="z-index: 0;">
              <v-card-text class="pa-0">
            <l-map :zoom="zoom" :center="center" style="height: 400px">
          <l-tile-layer :url="url" :attribution="attribution" />
          <l-geo-json
            v-if="show"
            :geojson="selected"
            :options="options"
            :optionsStyle="styleFunction"
          />
          <l-marker :lat-lng="marker"></l-marker>
        </l-map>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
  </section>
</v-app>
</template>

<script>
import axios from 'axios'
import L from 'leaflet'
import { LGeoJson, LMap, LTileLayer, LMarker } from 'vue2-leaflet'

export default {
  components: {
    LMap,
    LTileLayer,
    LMarker,
    LGeoJson
  },
  data () {
    return {
      show: true,
      zoom: 7,
      center: L.latLng(32.2973, -90.2275),
      url: 'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      marker: L.latLng(32.2973, -90.2275),
      districts: [],
      selected: []
    }
  },
  methods: {
    toggle () {
      this.$nextTick(() => {
        if (this.allDistricts) {
          this.selected = []
        } else {
          this.selected = this.districts.slice()
        }
      })
    }
  },
  computed: {
    icon () {
      if (this.allDistricts) return 'mdi-close-box'
      if (this.someDistricts) return 'mdi-minus-box'
      return 'mdi-checkbox-blank-outline'
    },
    allDistricts () {
      return this.selected.length === this.districts.length
    },
    someDistricts () {
      return this.selected.length > 0 && !this.allDistricts
    },
    options () {
      return {
        onEachFeature: this.onEachFeatureFunction
      }
    },
    styleFunction () {
      const fillColor = this.fillColor // important! need touch fillColor in computed for re-calculate when change fillColor
      return () => {
        return {
          weight: 2,
          color: '#ECEFF1',
          opacity: 1,
          fillColor: fillColor,
          fillOpacity: 1
        }
      }
    },
    onEachFeatureFunction () {
      if (!this.enableTooltip) {
        return () => {}
      }
      return (feature, layer) => {
        layer.bindTooltip('<div>code:' + feature.properties.NAME + '</div>', { permanent: false, sticky: true })
      }
    }
  },
  created () {
    this.loading = true
    axios.get('https://cdn.jsdelivr.net/gh/davidbkay/mississippi-education-geojson@v0.0.1/districts-mississippi.geojson')
      .then(response => {
        this.districts = response.data.features
        this.loading = false
      })
  }
}
</script>
