<template>
<v-app>
  <section class="primary darken-1">
    <v-container class="pb-1">
    <v-layout row>
      <v-flex>
        <v-btn flat dark small>
          Type
          <v-icon right dark>keyboard_arrow_down</v-icon>
        </v-btn>
        <v-btn flat dark small>
          Year
          <v-icon right dark>keyboard_arrow_down</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>
    <v-layout row>
      <v-flex xs6>
        <v-autocomplete
                :loading="loading"
                :items="districts"
                :search-input.sync="search"
                v-model="selected"
                cache-items
                class="mr-3"
                flat
                hide-no-data
                hide-details
                label="Choose districts..."
                solo
                return-object
                small-chips
                clearable
                hide-selected
                multiple
                item-text="properties.NAME"
                item-value="properties.FID_12"
                >
              <template slot="no-data">
                <v-list-tile>
                  <v-list-tile-title>
                    Still loading <strong>districts</strong>...
                  </v-list-tile-title>
                </v-list-tile>
              </template>
              <!--
              <template slot="selection" slot-scope="{ item, index }">
                <v-chip v-if="index === 0">
                  <span>{{ item.properties.NAME }}</span>
                </v-chip>
                <span v-if="index === 1" class="grey--text caption">(+{{ selected.length - 1 }} others)</span>
              </template> -->
              <template
                slot="item"
                slot-scope="{ item, index }"
              >
                <v-list-tile
                  slot="prepend-item"
                  ripple
                  @click.native="toggle"
                >
                  <v-list-tile-action>
                    <v-icon :color="selected.length > 0 ? 'indigo darken-4' : ''">
                      {{ icon }}
                    </v-icon>
                  </v-list-tile-action>
                  <v-list-tile-title>
                    Select all districts
                  </v-list-tile-title>
                </v-list-tile>
                <v-divider slot="append-item" class="mb-2" />
                <v-list-tile slot="append-item" disabled>
                  <v-list-tile-avatar color="grey lighten-3">
                    <v-icon>mdi-food-apple</v-icon>
                  </v-list-tile-avatar>
                  <v-list-tile-content v-if="allDistricts">
                    <v-list-tile-title>All {{ selected.length }} districts loaded</v-list-tile-title>
                  </v-list-tile-content>
                  <v-list-tile-content v-else-if="someDistricts">
                    <v-list-tile-title>Districts selected:</v-list-tile-title>
                    <v-list-tile-sub-title>{{ selected.length }}</v-list-tile-sub-title>
                  </v-list-tile-content>
                  <v-list-tile-content v-else>
                    Please select your districts above
                  </v-list-tile-content>
                </v-list-tile>
              </template>
            </v-autocomplete>
            </v-flex>
            <v-flex xs3>
              <v-select :items="years" solo flat offset-y />
            </v-flex>
    </v-layout>
    </v-container>
  </section>

  <section class="light-blue lighten-5">
  <v-container>
        <v-layout row wrap>
          <v-flex xs12>
            <v-card raised>
              <v-card-text class="pa-0">
              <vl-map :load-tiles-while-animating="true" :load-tiles-while-interacting="true" data-projection="EPSG:4326"
                style="height: 500px">
                <vl-view :zoom.sync="zoom" :center.sync="center" :rotation.sync="rotation"></vl-view>

                <vl-geoloc @update:position="geolocPosition = $event">
                  <template slot-scope="geoloc">
                    <vl-feature v-if="geoloc.position" id="position-feature">
                      <vl-geom-point :coordinates="geoloc.position"></vl-geom-point>
                      <vl-style-box>
                        <vl-style-icon src="_media/marker.png" :scale="0.4" :anchor="[0.5, 1]"></vl-style-icon>
                      </vl-style-box>
                    </vl-feature>
                  </template>
                </vl-geoloc>

                <vl-layer-tile id="osm">
                  <vl-source-osm></vl-source-osm>
                </vl-layer-tile>

                <vl-layer-vector>
                  <vl-source-vector>
                    <template v-for="district in selected">
                      <vl-feature :key="district" :properties="district.properties">
                        <vl-geom-polygon :coordinates="district.geometry.coordinates"></vl-geom-polygon>
                      </vl-feature>
                      <template v-if="district.properties.FIX_12 < 55">
                        <v-style-box :key="district">
                        <vl-style-stroke color="orange" :key="district" :width="2" />
                        <vl-style-fill :key="district" :color="[254, 178, 76, 0.7]"></vl-style-fill>
                        </v-style-box>
                      </template>
                      <template v-else>
                        <v-style-box :key="district">
                        <vl-style-stroke color="blue" :key="district" :width="2" />
                        <vl-style-fill :key="district" :color="[254, 178, 76, 0.7]"></vl-style-fill>
                        </v-style-box>
                      </template>
                    </template>

                  </vl-source-vector>

                </vl-layer-vector>

              </vl-map>
            </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
      </section>
</v-app>
</template>

<script>
import axios from 'axios'
// import districts from '@/data/districts-geojson.json'
// import Stroke from 'ol/style/stroke'
// import Fill from 'ol/style/fill'
// import entities from '../data/entities.json'

export default {
  data () {
    return {
      // entities,
      zoom: 7,
      center: [ -89.99146020316753, 32.40219403948885 ],
      rotation: 0,
      gelocPosition: undefined,
      features: [],
      loading: false,
      districts: [],
      selected: false,
      years: ['2015', '2016', '2017'],
      title: 'Map View'
    }
  },
  mounted () {
    this.loading = true
    axios
      .get('https://cdn.jsdelivr.net/gh/davidbkay/mississippi-education-geojson@v0.0.1/districts-mississippi.geojson')
      .then(response => {
        this.districts = response.data.features
        this.loading = false
      })
  },
  name: 'App'
}
</script>
