<template>
<v-app>
  <v-toolbar app dark color="primary darken-1">
    <v-toolbar-title color="primary darken-2 ml-5">{{ title }}</v-toolbar-title>
    <v-btn to="/leaflet">Leaflet</v-btn>
  </v-toolbar>
<v-content>
      <router-view/>
    </v-content>
</v-app>
</template>

<script>
export default {
  data () {
    return {
      title: 'ESSA Explorer'
    }
  },
  name: 'App'
}
</script>
